body {
    background-color: #1B2E6C;
}

.container {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: transparent;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 2px;
    border: none;
    color: white;
    cursor: pointer;
    background: #98A4C8;
    border-radius: 4px;
}

.button:hover {
    transition: 0.5s all;
    background: #fff;
    color: #000;
}

.result {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    outline: none;
    color: #000;
    opacity: 0.7;
}